---
layout: page
title: Posts
noindex: true
---
<div class="posts">
  {% assign entries_layout = page.entries_layout | default: 'list' %}
  {% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  <h1>Posts</h1>
  <hr/>
  <section id="posts" class="">
    {% for year in postsByYear %}
      <!-- <h2 class="archive__subtitle">{{ year.name }}</h2> -->
      {% for post in year.items %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
        <div class="row">
        {% endif %}
          <div class="bg-beige col-md-6 post">
            {% include archive-single.html type=entries_layout %}
          </div>
        {% if thecycle == 'even' or forloop.last == true %}
        </div>
        {% endif %}

      {% endfor %}
    {% endfor %}
    <div class="row back-to-top">
      <a href="#page-title" class="col">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </div>
  </section>

  {% include disclaimer.html %}
</div>