<div class="googlemap">
  <div class="page-section">
    <div>
      <h2>Location</h2>
      <iframe scrolling="no" height="400px" width="100%" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=8700%20E%20Vista%20Bonita%20Dr%20%23200&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near" title="8700 E Vista Bonita Dr #200" aria-label="8700 E Vista Bonita Dr #200" frameborder="0"></iframe>
    </div>
    <div>
      <h2>Existing Patients</h2>
    </div>
    
    <div id="patient-portal">
      <a href="https://phr.charmtracker.com/login.sas?FACILITY_ID=3b031348cbc6916e236dc9e6cd06457ba04fd550fb7a9f132e62fe42203ae47d7c54d4b9c6616d57" target="_blank" class="btn btn-primary btn-block" role="button">
        <span>
            <i aria-hidden="true" class="far fa-clipboard"></i>		
        </span>
        <span>Patient Portal</span>
      </a>
    </div>
  </div>
</div>